@import "settings";
@import "colors";

// Sections
// Defines some bass settings for sections and some deformers

section {
	margin: 0;
	padding: 0;

	&#intro {
		background: transparentize($tan, 0.1);
	}
	&#schedule {
		background: $mint url('/images/schedule-bg.jpg') center center no-repeat fixed;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
		min-height: 800px;
	}
	&#sponsors {
		background: $tan;

		.sponsor {
			@include span-columns(3);
			margin: 0;
		}
	}
	&#register {
		background: $mint;
	}
}

// Asides
// Who knew?

aside {
	&#timeline {
	}
}

// Footer
// You know, like a footer

footer {
	background: #444;
}

// Actions
// Defines a section for buttons or other action items

.actions {
	padding: $base-unit 0;
}

// Half
// Defines a column that is half the current grid

.half {
	@include span-columns(6);
	overflow: hidden;
}

// Add-ons
// Useful additions to above containers
.is-gridparent {
	@include outer-container;	
	border: 1px solid red;
}