// Base settings
// Defines basic parameters for various cases

$base-unit: 40px;
$base-font-family: "calluna-sans", Roboto, Arial, sans-serif;
$base-font-size: 1rem;
$base-font-color: #444;
$base-line-height: 164%;

$global-radius: 6px;

// Font weights
// Defines a set of weights for fonts

$light: 100;
$regular: 400;
$bold: 600;
$black: 900;

// Breakpoints
//

$mobile: new-breakpoint(max-width 480px 12);

// Debug
//

$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;

// Link colors
//
$global-link-color: #1dafd7;

a {
	color: $global-link-color;
	text-decoration: none;
	&:visited {
		color: darken($global-link-color, 10%);
	}
	&:active {
		color: lighten($global-link-color, 10%);
	}
}
