<footer>
	<div class="content">
		<p class="small on-dark">
			Copyright &copy; 2015 NC Small Business Center Network
		</p>
		<p class="small on-dark">
			Site designed and built with <span class="fa fa-heart" id="heart"></span> in Greensboro, NC by 
			<a href="http://www.tinygoatstudio.com">Tiny Goat</a>
		</p>
	</div>
</footer>