<footer>
	<div class="content">

		<ul class="footer-nav third">
			<h5 class="on-dark">Navigation</h5>
			<li>Home</li>
			<li>Sponsors</li>
			<li>Contact</li>
		</ul>

		<div class="third"></div>

		<ul class="footer-nav third">
			<h5 class="on-dark">Social Media</h5>
			<li class="fa fa-facebook" id="facebook"></li>
			<li class="fa fa-twitter" id="twitter"></li>
			<li class="fa fa-google" id="google"></li>
		</ul>

		<hr/>

		<p class="small on-dark">
			Copyright &copy; 2015 NC Small Business Center Network
		</p>
		<p class="small on-dark">
			Site designed and built with <span class="fa fa-heart" id="heart"></span> in Greensboro, NC by 
			<a href="http://www.tinygoatstudio.com">Tiny Goat</a>
		</p>
	</div>
</footer>