<nav id="main">
	<div class="content">
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</nav>