<nav id="desktop">
	<div class="content">
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</nav>

<nav id="mobile">
	<div class="content">
		<div id="mobile-nav-trigger">
			<span class="hamburger fa fa-bars" id="menu"></span>
			<span class="hamburger fa fa-times" id="close"></span>
		</div>
		<ul class="nav" id="mobile-nav">
			<li class="add-margin"></li>
			<li><a href="/">Home</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</nav>