<nav id="desktop">
	<div class="content">
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</nav>

<nav id="mobile">
	<div class="content">
	<span class="hamburger fa fa-bars" id="mobile-nav-trigger"></span>
		<ul class="nav" id="mobile-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</nav>