<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Home | Piedmont Triad Logistics Conference 2015</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<!--[if lt IE 9]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->
	</head>
		<body>
			<%= include _nav.ejs %>

			<section id="hero">
				<div class="content">
					<div class="logo"></div>
					<div class="dates">
						<h5 class="on-dark">May 12, 2015 9:00 AM - 3:00 PM</br>
						Davidson County Community College</br>
						Thomasville, NC</h5>
					</div>
				</div>
			</section>

			<section id="intro">
				<div class="content">
					<h4 class="is-centered on-dark">Learn the ins and outs of logistics&mdash;including terminology and best practices&mdash;from Charles Edwards, an expert in the logistics industry.</h4>
				</div>
			</section>

			<section id="schedule" data-stellar-background-ratio="0.1">
				<div class="content">

					<aside class="half" id="additional-info">

						<h4 class="on-dark">About The Presenter</h4>

						<img src="/images/edwards.jpg" alt="Charles Edwards photo" class="headshot right">

						<p class="on-dark">
							Charles Edwards is Executive Director of the North Carolina Center for Global Logistics. The Center is dedicated to the expansion of an logistics education program from high school to graduate school throughout the State of North Carolina. The Center provides instruction, outreach, and logistics-focused advisory services to businesses, government agencies and the military.
							</p>
							<p class="on-dark">
							Edwards began his career in the logistics industry as a truck driver. He was on the senior management team of the North Carolina-based airline that started United Parcel Service Airlines, helped introduce an innovative container to the international airline industry, managed a commercial airport, led the development of the world's largest air vehicle, and has been a senior advisor to public and private aviation and logistics projects in the United States, Europe, Africa, Southeast Asia and the United Arab Emirates. He is the past Chairman of Dubai- based Freight Reach Services, LLC which provides freight forwarding services in the UAE and East African countries.
							</p>
							<p class="on-dark">
							He holds degress from universities in Canada, the United Kingdom and the United States. He served on the faculty of the Darden School and has been a guest lecturer at universities throughout North Carolina and the U.S. He is a frequent speaker and writer about aviation and logistics topics and in 2010 co-authored Transport Logistics: The Wheel of Commerce. Mr. Edwards hosts the UNC-Chapel Hill - Tsinghua University Logistics EMBA program in Dubai and is co-developer of the Air Cargo Professional Development workshop program of The International Air Cargo Association. He also serves on various international and US logistics industry, company and education boards.
						</p>

						<div class="actions">
							<span class='share st_facebook_hcount' displayText='Facebook'></span>
							<span class='share st_twitter_hcount' displayText='Tweet'></span>
							<span class='share st_linkedin_hcount' displayText='LinkedIn'></span>
							<span class='share st_email_hcount' displayText='Email'></span>
						</div>

					</aside>

					<aside class="half" id="timeline">
						<h4 class="on-dark">Schedule</h4>
						<dl class="node">
							<div class="icon fa fa-dot-circle-o left"></div>
							<dd>9:00AM - 9:10 AM</dd>
							<dt>
								Introduction and review of the seminar
							</dt>
						</dl>
						<dl class="node">
							<div class="icon fa fa-group left"></div>
							<dd>9:15 – 10:45</dd>
							<dt>
								Toaster game
							</dt>
						</dl>
						<dl class="node">
							<div class="icon fa fa-history left"></div>
							<dd>10:45 – 11:00 </dd>
							<dt>
								Break
							</dt>
						</dl>
						<dl class="node">
							<div class="icon fa fa-globe left"></div>
							<dd>11:00 – 12:30</dd>
							<dt>
								Introduction to Supply Chain Management
							</dt>
						</dl>
						<dl class="node">
							<div class="icon fa fa-cutlery left"></div>
							<dd>12:30 – 1:00 PM</dd>
							<dt>
								Lunch
							</dt>
						</dl>
						<dl class="node">
							<div class="icon fa fa-globe left"></div>
							<dd>1:00 – 3:00</dd>
							<dt>
								Incoterms/Selecting Transport Companies/Q&amp;A
							</dt>
						</dl>

						<div class="actions">
							<a href="https://www.dropbox.com/s/my9w2lbi9xck8zy/Schedule.pdf?dl=0">
								<button class="action right" id="download">Download Schedule PDF</button>
							</a>
						</div>
					</aside>
				</div>
			</section>

			<section id="sponsors" data-stellar-background-ratio="0.05">
				<div class="content">
					<h4 class="on-light is-centered">Our Promotional Partners</h4>
					<dl class="sponsor">
						<a href="http://www.tinygoatstudio.com" target="_blank">
						 <dt id="tgs"></dt>
						 <dd>Web development, design, &amp; hosting.</dd>
						</a>
					</dl>
					<dl class="sponsor">
						<a href="http://www.cesgraphicmedia.com" target="_blank">
						 <dt id="ces"></dt>
						 <dd>Graphic design &amp; branding.</dd>
						</a>
					</dl>
				</div>
			</section>

			<%= include _register.ejs %>

			<%= include _footer.ejs %>

			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/ui.js"></script>
			<script src="/javascripts/stellar.min.js"></script>
			<script src="//use.typekit.net/vgy3ycd.js"></script>
			<script type="text/javascript" $(window).stellar();></script>
			<script>try{Typekit.load();}catch(e){}</script>

			<!-- sharethis -->

			<script type="text/javascript">var switchTo5x=true;</script>
			<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
			<script type="text/javascript">stLight.options({publisher: "d0d4683f-1806-4dda-b590-a70b71dce840", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

			<!-- /sharethis -->

			<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-31602595-9', 'auto');
			  ga('send', 'pageview');

			</script>
		</body>
</html>