<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Piedmont Triad Logistics Convention 2015</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>

    		<nav id="main">
    			<div class="content">
	    			<ul class="nav">
	    				<li>Home</li>
	    				<li>Sponsors</li>
	    				<li>Contact</li>
	    			</ul>
	    		</div>
    		</nav>

        <section id="hero">
        	<div class="content">
        		<h2 class="is-centered">Piedmont Triad Logistics Conference</h2>
        		<h4 class="is-centered is-uppercase">Learn how to manage and control supply chain costs with the triad’s logistics leaders.</h4>
        	</div>
        </section>

        <section id="intro">
        	<div class="content">
        		<article class="half">
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        			</p>
        		</article>
        		<article class="half">
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        			</p>
        		</article>
        	</div>
        </section>

        <section id="schedule">
        	<div class="content">
        		<aside class="half" id="timeline">
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        		</aside>
        		<aside class="half" id="additional-info">
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        		</aside>
        	</div>
        </section>

        <section id="sponsors">
        	<div class="content">
	        	<dl class="sponsor">
	        		<dt>Tiny Goat</dt>
	        		<dd>Lorem ipsum dolor sit amet.</dd>
	        	</dl>
	        	<dl class="sponsor">
	        		<dt>Tiny Goat</dt>
	        		<dd>Lorem ipsum dolor sit amet.</dd>
	        	</dl>
	        	<dl class="sponsor">
	        		<dt>Tiny Goat</dt>
	        		<dd>Lorem ipsum dolor sit amet.</dd>
	        	</dl>
	        	<dl class="sponsor">
	        		<dt>Tiny Goat</dt>
	        		<dd>Lorem ipsum dolor sit amet.</dd>
	        	</dl>
	        	<dl class="sponsor">
	        		<dt>Tiny Goat</dt>
	        		<dd>Lorem ipsum dolor sit amet.</dd>
	        	</dl>
	        	<dl class="sponsor">
	        		<dt>Tiny Goat</dt>
	        		<dd>Lorem ipsum dolor sit amet.</dd>
	        	</dl>
	        	<dl class="sponsor">
	        		<dt>Tiny Goat</dt>
	        		<dd>Lorem ipsum dolor sit amet.</dd>
	        	</dl>
	        	<dl class="sponsor">
	        		<dt>Tiny Goat</dt>
	        		<dd>Lorem ipsum dolor sit amet.</dd>
	        	</dl>
	        </div>
        </section>

        <section id="register">
        	<div class="content">
        		<aside class="half" id="map">
        			Map here
        		</aside>
        		<aside class="half" id="form">
        			Form goes here
        		</aside>
        	</div>
        </section>

        <footer>
        	<div class="content">
        		<p class="small on-dark">
        			Copyright &copy; 2015
        		</p>
        	</div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="//use.typekit.net/vgy3ycd.js"></script>
				<script>try{Typekit.load();}catch(e){}</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>